#nav {
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
}

.bg__image__rotate {
    padding-top: 1rem;
    background-image: linear-gradient( 0deg, rgba(255, 255, 255, 0.397), rgba(216, 216, 216, 0.3)), url(/images/departments/dep_bg_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.list-group {
    background-color: transparent;
}

.list-group-item {
    background-color: transparent;
}