#nav {
    /* box-shadow: 0 0px 14px rgba(0, 0, 0, 0.25); */
    transition: background-color 0.3s;
    transition-timing-function: ease-in;
}


/* ------------------------- */


/* ------------------------- */


/*hero*/

.bg-seethrough {
    background-color: rgba(255, 255, 255, 0.3);
}


/* linear-gradient( to right bottom, rgba(42, 38, 168, 0.25), rgba(42, 38, 168, 0.25)) */

.hero {
    width: 100%;
    height: 100vh;
    /* background-image: url("../images/hero.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*  background-attachment: fixed;*/
}


/* carosel images */

.image-1 {
    height: 100vh;
    background-image: url("/images/gemh_gate.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-2 {
    height: 100vh;
    background-image: url("/images/media/first_anniversary/8F5A7504.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-3 {
    height: 100vh;
    background-image: url("/images/media/first_anniversary/8F5A7733.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-4 {
    height: 100vh;
    background-image: url("/images/https___cdn.cnn.com_cnnnext_dam_assets_201225172423-20201228-covid-mask-illustration.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* carosel images end*/

.fighting_covid {
    color: #2a9965;
    font-size: 6rem;
}

.motto {
    color: #2a9965;
    font-size: 6rem;
}

.hero-content {
    color: white;
}

.hero-title {
    text-transform: capitalize;
    letter-spacing: 0.3rem;
    font-family: Montserrat;
    font-weight: 700;
    padding-bottom: 3rem;
}

.health {
    color: #2a9965;
    font-size: 4rem;
}

.hero-p {
    font-family: Roboto;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.btn-learn-more {
    margin-top: 2rem;
    background-color: linear-gradient( to right bottom, rgba(54, 143, 245, 1), rgba(0, 0, 255, 1)) !important;
}


/*services*/

.services {
    background-color: rgba(239, 239, 239, 0.5);
    /*    clip-path: polygon(0 0,100% 0,100% 75%,0 100%);*/
    border-bottom-right-radius: 30%;
    padding-bottom: 1rem;
}

.card {
    border: none;
    transition: transform 0.2s;
}


/* .card:hover {
    transform: scale(1.1);
} */

.why__us_list_style>li {
    list-style-type: square !important;
    font-weight: 700;
}


/*why us*/

.why-us {
    padding-bottom: 2rem;
}

.why__us__image-container {
    background: url(/images/why.jpg);
    border-top-right-radius: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    box-shadow: 10px -10px #2a9965;
}


/*partners*/

.partners {
    background-color: rgba(239, 239, 239, 0.5);
    padding-bottom: 2rem;
}


/*responsive*/

@media screen and (max-width: 800px) {
    .services {
        border-bottom-right-radius: 10%;
    }
}


/*navbar scroll*/

.shrink {
    background-color: #ffffff;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.25);
}