* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
    font-family: "Montserrat", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");
}


/*naviation*/

.navbar-right {
    font-family: Roboto;
}

.jumbo-title {
    text-transform: uppercase;
}

.head {
    margin-top: 12vh;
}

.card {
    border: none;
}

.section-title {
    color: #2a9965;
    text-decoration: underline;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem;
}


/*footer*/

.footer {
    background-color: #0f2739;
    color: #ffffff;
    /*    padding: 0 5rem;*/
}

.footer-contant-titles {
    font-family: Montserrat;
    font-weight: 400;
    color: #ffffff;
}

.footer-end {
    background-color: #182e3e;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-cpy {
    font-family: Roboto;
    font-size: 1rem;
}

.footer-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Roboto;
    /*    text-align: justify;*/
}

.footer-ul>li>a {
    text-decoration: none;
    color: white;
}

.hours {
    color: aqua;
    text-align: left;
}


/*jombo-title*/

.jumbotron-fluid {
    background-color: #2a9965;
    /* background-image: url(/images/jumbo_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    text-align: center;
    margin-bottom: 0px;
}

.jumbo-title {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    /*    padding: 2rem;*/
}


/*title*/

.title {
    color: #2a9965;
    text-decoration: underline;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem;
    text-align: center;
}


/*btn*/

.btn {
    transition: transform 0.15s;
}

.btn:hover {
    transform: scale(1.2) perspective(1px);
}


/*responsive*/

@media screen and (max-width: 800px) {
    .footer {
        text-align: center;
        padding: 0;
    }
    .footer-contact {
        text-align: justify;
    }
    .footer-address,
    .footer-numbers,
    .footer-email {
        margin-left: 5rem;
    }
}